<div class="wrapper">
  <div class="container">
    <div class="row">
      <%= simple_form_for (@coffee) do |c| %>
        <% if @coffee.errors.any? %>
          <div class="errors-container">
            <ul>
              <% @coffee.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

      <div class="col-md-6 col-md-offset-3 start-new-coffee-form">
        <div class="input_element_inline">
          <div class="input_element">
            <%= c.input :blend_name, placeholder: "eg: Lazy Sunday" %>
          </div>
          <div class="input_element">
            <%= c.input :tree, label: 'Beans', collection: ["Arabica", "Robusta", "Blend"], prompt: 'Select Blend Composition' %>
          </div>
        </div>

        <div class="input_element_inline">
          <div class="input_element">
            <%= c.input :provenance, label: 'Country of Origin', placeholder: 'eg: Colombia, Ethiopia' %>
          </div>
          <div class="input_element">
            <%= c.input :machine, label: 'Optimized for', collection: ["Bean expresso", "French press", "Filter", "Italian", "Aeropress"], prompt: "Select Machine" %>
          </div>
        </div>

        <div class="input_element_inline">
          <div class="input_element">
          <%= c.input :flavour, collection: ["Sweet", "Fruity", "Bitter", "Citric"], prompt: "Select flavour" %>
          </div>
          <div class="input_element">
          <%= c.input :intensity, collection: ["morning", "noon", "night"], prompt: "Select Time of Day" %>
          </div>
        </div>

        <div class="input_element_inline">
          <div class="input_element">
            <%= c.input :stock, placeholder: 'eg: 100', label: 'Quantity available' %>
          </div>
          <div class="input_element">
            <%= c.input :price_per_unit, placeholder: 'eg: $12', label: 'Price' %>
          </div>
        </div>

        <div class="input_element">
          <%= c.input :description, label: 'Add a description', placeholder: 'What is the story behind your coffee ? ' %>
        </div>

      <div class="end-form">
        <div class="photo_uploader col-md-3 btn">
          <div id="hide" class="col-lg-8 col-xs-8">
             <label class="hand-cursor">
              <input type="file" nv-file-select uploader="$ctrl.uploader"/>
              <span class="fa fa-camera"></span>
              <span class="photo_text hidden-xs"> Add a Picture !</span>
               </label>
          </div>
        </div>
          <div class="input_element_btn">
            <%= c.submit "Submit", class: "add_coffee_btn", id: "btn_validate" %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
