<%= render "shared/purchase", coffee: @coffee %>
<div class="wrapper">
  <div class="container">
    <h2>Presentation of <%= @coffee.blend_name %></h2>
    <div class="coffee-caracteristics">
      <div class="coffee-show-picture">
        <%= cl_image_tag @coffee.picture, :width=>200, :crop=>"scale"%>
        <p><em><%= @coffee.description.capitalize %></em></p>
      </div>
      <ul>
        <li>Intensity:
          <% @coffee.intensity.times do %>
            <i class="fas fa-coffee"></i>
          <% end %>
        </li>
        <li>Best for: <%= @coffee.machine %> </li>
        <li>Flavour: <%= @coffee.flavour %> </li>
        <li>Tree: <%= @coffee.tree %> </li>
        <li>Provenance: <%= @coffee.provenance %> </li>
        <li>
          <div class="coffee-show-price">
            <strong><%= @coffee.price_per_unit %> €</strong> for 500 gr.
          </div>
        </li>
      </ul>
    </div>

    <br>
    <br>
    <div class="coffee-show-roaster">
      <h3>Meet <%= @coffee.user.name %>, the producer of <%= @coffee.blend_name %></h2>
      <div class="roaster-description">
        <p><%= @coffee.user.introduction %></p>
      </div>
    </div>
  </div>
</div>
