
<div>
  <h1>Dicsover the coffee</h1>
  <h2>Drink <%= @coffee.blend_name %>  </h2>
  <div class="coffee-caracteristics">
    <ul>
      <li>Intensity: <%= @coffee.intensity %></li>
      <li>Best for: <%= @coffee.machine %> </li>
      <li>Flavour: <%= @coffee.flavour %> </li>
      <li>Tree: <%= @coffee.tree %> </li>
      <li>Provenance: <%= @coffee.provenance %> </li>
    </ul>
  <div><%= @coffee.price_per_unit %> €</div>
  </div>
  <div>
    <%= cl_image_tag @coffee.picture, :width=>200, :crop=>"scale"%>
  </div>
  <div>
    <%= @coffee.description %>
  </div>
</div>

<div>
  <h1>Discover the roaster</h1>
  <div>
    <h2>Meet <%= @coffee.user.name %></h2>



    </div>
</div>

