<%= render "shared/purchase", coffee: @coffee %>

<div class="container_coffee_picture_show">
  <div class="coffee_picture_show">
    <div class="title">
      <p> Discover your coffee</p>
    </div>
    <div class="banner_coffee_show">
      <%= cl_image_tag @coffee.picture, class: "coffee_banner_img"%>
    </div>
    </div>
  </div>
</div>


<div class="wrapper_show">


  <div class="container">


    <div class="coffee_title">
      <h3>Savour the coffee: <%= @coffee.blend_name %></h3>
    </div>

    <div class="coffee_presentation">
      <div class="coffee_characteristics">
          <p>Drink during: <%= @coffee.intensity.capitalize %></p>
          <p>Flavour: <%= @coffee.flavour %></p>
          <p>Tree: <%= @coffee.tree %></p>
          <p>Provenance: <%= @coffee.provenance %></p>
        </div>
      <div class="coffee_machine_picture">
        <% if @coffee.machine == "Bean expresso"%>
        <% machine_image = asset_path 'machine_expresso.png'%>
        <% elsif @coffee.machine == "French press" %>
        <% machine_image = asset_path 'machine_french_press.png'%>
        <% elsif @coffee.machine == "Filter" %>
        <% machine_image = asset_path 'machine_filter.png'%>
        <% elsif @coffee.machine == "Italian" %>
        <% machine_image = asset_path 'machine_italian.png'%>
        <% else %>
        <% machine_image = asset_path 'machine_aeropress.png'%>
        <% end %>
        <p style="text-align: center">Best for</p>
        <%= image_tag("#{machine_image}", :alt => "MACHINE") %>
        <strong><p style="text-align: center"><%= @coffee.machine %></p></strong>
      </div>
    </div>
    <div class="coffee_text_description">
      <% if @coffee.description%>
      <p><%= @coffee.description.capitalize %></p>
      <% end %>
    </div>
    <hr>

    <div class="roaster_title">
      <h3>Meet the roaster <%=@coffee.user.name%></h3>
    </div>

    <div class="roaster_presentation">
      <div>
        <%= cl_image_tag @coffee.user.avatar, class: "roaster_avatar" %>
      </div>
      <div class="roaster_characteristics">
        <p>Address: <%= @coffee.user.address %></p>
        <p>Registered since: <%= @coffee.user.created_at.strftime("%d/%m/%Y") %></p>
        <p>Number of sales: <%= @coffee.user.purchases.count %></p>
      </div>
    </div>

    <div class="roaster_text_description">
      <%= @coffee.user.introduction %>
    </div>

  </div>
</div>
