<div class="wrapper">
  <div class="container">
    <h1>Your coffee's order is: </h1>
    <div class="card-user">
      <div class ="message-name">
        <p> <%= @coffee.blend_name %></p>
      </div>
      <div class="characteristics">
        <div class="characteristics-name">
          <p>intensity: </p>
          <p>flavor: </p>
          <p>machine: </p>
        </div>
        <div class="characteristics-value">
          <p><%= @coffee.intensity%></p>
          <p><%= @coffee.flavour%></p>
          <p><%= @coffee.machine%></p>
        </div>
      </div>
      <div class ="message-description">
        <p width="50%"> <%= @coffee.description %></p>
      </div>
      <div class = "boxes-number">
        <div class= "title-number">
          <p>price: </p>
        </div>
        <div class="number-number">
          <div class ="message-price">
            <p><%= @coffee.price_per_unit%>€</p>
          </div>
        </div>
      </div>
  </div>
  <div class="action_button">
    <p><%=link_to "back to the list", coffee_path(@coffee)%></p>
  </div>
</div>
