<%= render 'shared/banner' %>
<div class="container">
  <h1><%= @coffees.count %> coffees around you</h1>
  <div class="card-container" id="search-result">
    <% @coffees.each do |coffee| %>
      <div class="coffee-card">
        <%= link_to coffee_path(coffee) do %>
        <div class="coffee-card-main" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.1)),
         url('<%= cl_image_path coffee.picture, :width=>100, :height=>100, :crop=> :fill %>')">
          <div class="coffee-blend-name">
            <%= coffee.blend_name.capitalize %>
          </div>
          <div class="coffee-user">
            <%= cl_image_tag coffee.user.avatar, :width=>70, :crop=>"scale" %>
          </div>
          <div class="coffee-grade">
            <ul class="list-inline golden">
              <% coffee.grade.times do %>
                <li><i class="fas fa-star"></i></li>
              <% end %>
            </ul>
          </div>
        </div>
        <div class="coffee-card-footer">
          <div class="coffee-caracteristics">
            <ul>
              <li>Drink during: <%= coffee.intensity %></li>
              <li>Perfect for: <%= coffee.machine %> </li>
              <li>Flavour: <%= coffee.flavour %> </li>
            </ul>
          </div>
          <div class="coffee-footer-price-and-provenance">
            <div class="coffee-price">
              <p><%= coffee.price_per_unit %> €</p>
            </div>
            <div class="coffee-provenance">
              <%= coffee.provenance.split(' ').last %>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>


